
@font-face {
    font-family: "ChunkfiveEx";
    src: url(ChunkfiveEx.ttf);
}

@font-face {
    font-family: "Coolvetica";
    src: url(coolvetica.ttf);
}

@font-face {
    font-family: "AltoneTrial";
    src: url(AltoneTrial-Bold.ttf);
}

