html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;  
    overflow: auto;
    min-height: 100vh;    
} 

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;   
    background-color:#000000;
    border: 0;
    font-family: "ChunkfiveEx";
    height: 8vh;
}

h1 {
   
    color: #ffffff;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #ffffff;
}

ul {
    list-style: none;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    text-align: -webkit-match-parent;
}

.icone-menu {
    display: none;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.imagem-inicial {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 90vh;
    background-image: url(imagemBanner.jpg);
    background-size: cover;
    background-position: center;
    background-color: #FFFFFF;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: "Coolvetica";
}

.imagem-inicial {
    text-align: center;
    color: #ffffff;
}

.primeira-mensagem > * {
    font-size: 5rem;
    font-family: "AltoneTrial";
}

.arrow-icon {
    margin-bottom: 10px;
    background-color: #623f65;
    border-radius: 50%;
    width: 54px;
    transform: rotate(90deg);
}

.exemplo {
    scroll-behavior: smooth;
}

.main-content {
    background: rgb(28,28,28);
    background: linear-gradient(184deg, rgba(28,28,28,1) 43%, rgba(54,45,61,1) 100%);
}

.sobre-mim {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #ffffff;
    min-height: 100vh;
    font-family: "Coolvetica";
    padding: 10px;
}

.img-eu {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    min-height: 100vh;
    font-family: "Coolvetica";
} 

.logos {
    width: 90%;
    justify-content: space-between;
    align-items: center;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 25px 0px; 
    grid-template-areas: 
    ". . . ."
    ". . . .";
}

.logos > * {
    padding: 80px 0;
    display: flex;
    justify-content: center;
}

.logos > *, .logos-contato > *, .arrow-icon {
    transition: all 0.2s;
}

.logos > *:hover, .logos-contato > *:hover {
    transform: scale(1.1);
}

.arrow-icon:hover {
    transform: rotate(90deg) scale(1.1);
}

.contato {
    color: #FFFFFF;
    text-align: center;
    font-family: "Coolvetica";
}

.logos-contato {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.footer {
    background-color: #000000;
}

.ultimo {
    text-align: center;
    color: #FFFFFF;
    padding: 10px 10px;
}

@media (max-width: 800px) {
    .primeira-mensagem > * {
        font-size: 3rem;
    }

    .logos {
        width: 90%;
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr; 
        gap: 25px 0px; 
        grid-template-areas: 
        ". ."
        ". ."
        ". ."
        ". .";
    }
}