html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;  
    overflow: auto;
    min-height: 100vh;    
} 

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;   
    background-color:#000000;
    border: 0;
    font-family: "ChunkfiveEx";

}

h1 {
   
    color: #ffffff;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #ffffff;
}

ul {
    list-style: none;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    text-align: -webkit-match-parent;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.imagem-inicial {
    height: 90vh;
    background-image: url(imagemBanner.jpg);
    background-size: cover;
    background-position: center;
    background-color: #FFFFFF;
    font-family: "Coolvetica";
}

.imagem-inicial {
    text-align: center;
    color: #ffffff;
}

.exemplo {
    scroll-behavior: smooth;
}

.sobre-mim {
    display: flex;
    flex-direction: column;
    background-color: #1C1C1C;
    text-align: center;
    color: #ffffff;
    height: 105vh;
    font-family: "Coolvetica";
}

.img-eu {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1C1C1C;
    color: #ffffff;
    min-height: 100vh;
    font-family: "Coolvetica";
} 

.logos {
    width: 90%;
    justify-content: space-between;
    align-items: center;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 25px 0px; 
    grid-template-areas: 
    ". . . ."
    ". . . .";
}

.logos > * {
    padding: 80px 0;
    display: flex;
    justify-content: center;
}

.contato {
    background-color: #1C1C1C;
    color: #FFFFFF;
    text-align: center;
    font-family: "Coolvetica";
}

.logos-contato {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.footer {
    background-color: #000000;
}

.ultimo {
    text-align: center;
    color: #FFFFFF;
    padding: 10px 10px;
}